# PROJECT - COFFEE SHOP SALES ANALYSIS USING PySpark, SQL AND Power BI

# KEY ATTRIBUTES OF THE DATA

- (1) Transaction ID : Represents unique ID for each transaction (Primary key of the table).
- (2) Transaction date :  Indicates the date of transaction.
- (3) Transaction time : Indicates time of transaction in terms of Hours and minutes.
- (4) Transaction QTY : Indicates the quantity of food products purchased on each transaction ID.
- (5) Store ID : Unique ID of the stores selling the products.
- (6) Store location : Location where the store is located.
- (7) Product ID : Unique ID for each product.
- (8) Unite Price : Indicates price for each unique product
- (9) Product Category : Category assigned to each unique Product.
- (10) Product type : Different types of Products including tea, coffee, chocolate
- (11) Product details : Indicates features of the product.

## Loading the data from Azure Datalake into Databricks workspace

In [0]:
app_id = "023cba1d-4ff4-4553-af64-550f6a90fa0d"
secret_id = "x7f8Q~DZmrXxG8LTBSdB1cMrmHNCgzL9EiLJrctE"
ten_id = "3fbe3783-0e51-4651-86e7-dd68fd516b0a"

In [0]:
spark.conf.set("fs.azure.account.auth.type.datalakerahul.dfs.core.windows.net", "OAuth")
spark.conf.set("fs.azure.account.oauth.provider.type.datalakerahul.dfs.core.windows.net", "org.apache.hadoop.fs.azurebfs.oauth2.ClientCredsTokenProvider")
spark.conf.set("fs.azure.account.oauth2.client.id.datalakerahul.dfs.core.windows.net", "023cba1d-4ff4-4553-af64-550f6a90fa0d")
spark.conf.set("fs.azure.account.oauth2.client.secret.datalakerahul.dfs.core.windows.net", "x7f8Q~DZmrXxG8LTBSdB1cMrmHNCgzL9EiLJrctE")
spark.conf.set("fs.azure.account.oauth2.client.endpoint.datalakerahul.dfs.core.windows.net", "https://login.microsoftonline.com/3fbe3783-0e51-4651-86e7-dd68fd516b0a/oauth2/token")

In [0]:
df = spark.read.format('csv')\
           .option('header',True)\
           .option('inferschema',True)\
           .load('abfss://source@datalakerahul.dfs.core.windows.net/')

In [0]:
df.limit(3).display()

_c0,transaction_id,transaction_date,transaction_time,transaction_qty,store_id,store_location,product_id,unit_price,product_category,product_type,product_detail
0,1,2023-01-01,2025-03-23T07:06:11Z,2,5,Lower Manhattan,32,3.0,Coffee,Gourmet brewed coffee,Ethiopia Rg
1,2,2023-01-01,2025-03-23T07:08:56Z,2,5,Lower Manhattan,57,3.1,Tea,Brewed Chai tea,Spicy Eye Opener Chai Lg
2,3,2023-01-01,2025-03-23T07:14:04Z,2,5,Lower Manhattan,59,4.5,Drinking Chocolate,Hot chocolate,Dark chocolate Lg

### Creating a new field "Total_Sales" by multiplying "unit price" column with "quantity column"

In [0]:
df = df.withColumn('Total_Sale', df['unit_price'] * df['transaction_qty'])

In [0]:
## Dropping the column
df = df.drop('_c0')

## Creating a temporary view of PySpark dataframe to run SQL queries

In [0]:
df.createTempView('Coffee_sales_table')

## Task 1 - Find total volume of sales, average sales, total number of transactions, distinct product category, unique product type and unique number of store type

In [0]:
%sql
SELECT ROUND(SUM(Total_Sale),2) AS Total_Sales, ROUND(AVG(Total_Sale),2) AS Average_Sales,
       SUM(transaction_qty) AS Total_transactions,
       COUNT(DISTINCT(product_type)) AS Unique_products, COUNT(DISTINCT(product_category)) AS Unique_products_category,
       COUNT(DISTINCT(store_location)) AS Unique_stores FROM Coffee_sales_table

Total_Sales,Average_Sales,Total_transactions,Unique_products,Unique_products_category,Unique_stores
698812.33,4.69,214470,29,9,3

## Task 2 - Find total sales based on each month in descending order (Month should be in name format and round off the total sales to 2 decimal points)

In [0]:
%sql
SELECT DATE_FORMAT(transaction_date, 'MMMM') AS Month_name, ROUND(SUM(Total_Sale),2) AS Total_Sales FROM Coffee_sales_table GROUP BY Month_name ORDER BY Total_Sales DESC

Month_name,Total_Sales
June,122414.17
May,119958.66
April,93927.95
March,83567.49
January,73457.6
February,66554.94
August,25253.08
October,24132.21
September,23804.22
November,22415.67
December,22360.04
July,20966.3

In [0]:
%sql
SELECT DATE_FORMAT(transaction_date, 'MMMM') AS Month_name, ROUND(SUM(Total_Sale),2) AS Total_Sales FROM Coffee_sales_table GROUP BY Month_name ORDER BY Total_Sales DESC

Month_name,Total_Sales
June,122414.17
May,119958.66
April,93927.95
March,83567.49
January,73457.6
February,66554.94
August,25253.08
October,24132.21
September,23804.22
November,22415.67
December,22360.04
July,20966.3

Databricks visualization. Run in Databricks to view.

## Task 3 - Calculate Month-over-month growth in sales.

In [0]:
%sql
WITH Current_Month_cte AS (
            SELECT MONTH(transaction_date) AS Month_number,
             DATE_FORMAT(transaction_date,'MMMM') AS Month_name,
            ROUND(SUM(Total_Sale),2) AS Current_month_sale FROM Coffee_sales_table GROUP BY Month_number, Month_name
            ),
Previous_Month_cte AS (
            SELECT *, ROUND(LAG(Current_month_sale) OVER (ORDER BY Month_number),2) AS Previous_month_sales
            FROM Current_Month_cte
            )
SELECT Month_number, Month_name, Current_month_sale, Previous_month_sales,
            ROUND(((Current_month_sale - Previous_month_sales) * 100.0) / Previous_month_sales,2) AS 
            Monthly_change FROM Previous_Month_cte

Month_number,Month_name,Current_month_sale,Previous_month_sales,Monthly_change
1,January,73457.6,null,null
2,February,66554.94,73457.6,-9.4
3,March,83567.49,66554.94,25.56
4,April,93927.95,83567.49,12.4
5,May,119958.66,93927.95,27.71
6,June,122414.17,119958.66,2.05
7,July,20966.3,122414.17,-82.87
8,August,25253.08,20966.3,20.45
9,September,23804.22,25253.08,-5.74
10,October,24132.21,23804.22,1.38
11,November,22415.67,24132.21,-7.11
12,December,22360.04,22415.67,-0.25

## Task 4 - Find the highest selling product each month.Output the Month number,Month name, name of the highest selling product for that month, and its sales. (Round off total sales to 2 decimal points)

In [0]:
%sql
WITH Highest_selling_product_cte AS (
           SELECT MONTH(transaction_date) AS Month_number, DATE_FORMAT(transaction_date,'MMMM') AS Month_name,
           product_type AS Highest_selling_product, SUM(Total_Sale) AS Total_Sales_for_that_month FROM 
           Coffee_sales_table GROUP BY Month_number, Month_name, product_type
           ),
CTE2 AS(          
SELECT *, ROW_NUMBER() OVER (PARTITION BY Month_number,Month_name ORDER BY Total_Sales_for_that_month) AS product_rank
          FROM Highest_selling_product_cte
)
SELECT Month_number, Month_name, Highest_selling_product, ROUND(Total_Sales_for_that_month,2) FROM CTE2 WHERE product_rank = 1

Month_number,Month_name,Highest_selling_product,"round(Total_Sales_for_that_month, 2)"
1,January,Organic Chocolate,121.6
2,February,Organic Chocolate,91.2
3,March,Green beans,130.0
4,April,Green beans,140.0
5,May,Green tea,231.25
6,June,Green beans,180.0
7,July,Green beans,10.0
8,August,Organic Chocolate,53.2
9,September,Green beans,80.0
10,October,Green beans,40.0
11,November,Green beans,50.0
12,December,Green beans,20.0

## Task 5 - Find the highest and the lowest selling product for each store location.

In [0]:
%sql
WITH top_and_bottom AS (
        SELECT store_location, product_type, SUM(Total_Sale) AS Total_Sales,
        ROW_NUMBER() OVER (PARTITION BY store_location ORDER BY SUM(Total_Sale) DESC) AS Rank_highest,
        ROW_NUMBER() OVER (PARTITION BY store_location ORDER BY SUM(Total_Sale)) AS Rank_lowest
        FROM Coffee_sales_table GROUP BY store_location, product_type
        )
SELECT store_location,
       MAX(CASE WHEN Rank_highest = 1 THEN product_type END) AS Highest_sold_product,
       MAX(CASE WHEN Rank_lowest = 1 THEN product_type END) AS Lowest_sold_product FROM top_and_bottom GROUP BY store_location

store_location,Highest_sold_product,Lowest_sold_product
Astoria,Barista Espresso,Organic Chocolate
Hell's Kitchen,Barista Espresso,Green tea
Lower Manhattan,Barista Espresso,Green beans

## Task 6 - Find those products which registered sales higher than the average sales of their respective category. Output the product name and their average sales

In [0]:
%sql
WITH Category_avg_sales_CTE AS (
         SELECT product_category, AVG(Total_Sale) AS _Categ_Avg_sales FROM 
         Coffee_sales_table GROUP BY product_category
         )
SELECT c.product_type, ROUND(SUM(c.Total_Sale),2) AS Total_sales FROM
        Coffee_sales_table c JOIN Category_avg_sales_CTE ca ON c.product_category = ca.product_category
        WHERE c.Total_Sale > ca._Categ_Avg_sales GROUP BY c.product_type ORDER BY Total_sales DESC

product_type,Total_sales
Barista Espresso,60396.2
Brewed Chai tea,51998.75
Hot chocolate,48648.5
Gourmet brewed coffee,36054.9
Brewed Black tea,32606.0
Brewed herbal tea,32363.5
Premium brewed coffee,26160.85
Organic brewed coffee,19854.1
Pastry,19054.99
Scone,18059.37
Brewed Green tea,16117.0
Drip coffee,15620.0
Premium Beans,11700.0
Clothing,6163.0
Regular syrup,4143.2
Chai tea,2931.9
Drinking Chocolate,1972.84
Sugar free syrup,1695.2
Housewares,908.0
Organic Beans,771.0
Biscotti,741.78

## Task 7 - Compare sales for festive and non festive seasons and their percentage share in total sales. Consider the months from November to February as festive season.

In [0]:
%sql
WITH CTE_festive AS (
     SELECT CASE WHEN MONTH(transaction_date) IN (11,12,1,2) THEN 'Festive Season' ELSE 'Non-Festive Season' END AS Season,
     ROUND(SUM(Total_sale),2) AS Total_sales FROM Coffee_sales_table GROUP BY
     CASE WHEN MONTH(transaction_date) IN (11,12,1,2) THEN 'Festive Season' ELSE 'Non-Festive Season' END 
)
SELECT Season, ROUND(SUM(Total_sales),2), 
ROUND(SUM(Total_sales * 100.0) / (SELECT SUM(Total_sale) AS Total FROM Coffee_sales_table),2) AS Percentage_of_total_sales FROM CTE_festive GROUP BY Season

Season,"round(sum(Total_sales), 2)",Percentage_of_total_sales
Non-Festive Season,514024.08,73.56
Festive Season,184788.25,26.44

In [0]:
%sql
WITH CTE_festive AS (
     SELECT CASE WHEN MONTH(transaction_date) IN (11,12,1,2) THEN 'Festive Season' ELSE 'Non-Festive Season' END AS Season,
     ROUND(SUM(Total_sale),2) AS Total_sales FROM Coffee_sales_table GROUP BY
     CASE WHEN MONTH(transaction_date) IN (11,12,1,2) THEN 'Festive Season' ELSE 'Non-Festive Season' END 
)
SELECT Season, ROUND(SUM(Total_sales),2), 
ROUND(SUM(Total_sales * 100.0) / (SELECT SUM(Total_sale) AS Total FROM Coffee_sales_table),2) AS Percentage_of_total_sales FROM CTE_festive GROUP BY Season

Season,"round(sum(Total_sales), 2)",Percentage_of_total_sales
Non-Festive Season,514024.08,73.56
Festive Season,184788.25,26.44

Databricks visualization. Run in Databricks to view.

## Task 8 - Identify top 3 selling products for each quarter. Output quarter, name of top 3 selling products, their aggregate sales for that quarter and their percentage share in total sales for that quarter.

In [0]:
%sql
WITH Top3 AS (
  SELECT QUARTER(transaction_date) AS Quarter_, product_type, SUM(Total_Sale) AS Total_sales,
  ROW_NUMBER() OVER (PARTITION BY QUARTER(transaction_date) ORDER BY SUM(Total_Sale) DESC) AS product_rank FROM Coffee_sales_table
  GROUP BY Quarter_, product_type),
Quarter_total_sales AS (
   SELECT QUARTER(transaction_date) AS Quarter_, SUM(Total_Sale) AS Total_sales_quarter
   FROM Coffee_sales_table GROUP BY Quarter_
)
SELECT t.Quarter_, array_join(collect_list(t.product_type), ', ') AS Top_3_products, ROUND(SUM(t.Total_sales),2) AS Total_sales_of_top3,
ROUND((SUM(t.Total_sales) * 100.0) / MAX(q.Total_sales_quarter),2) AS Percentage_of_total_sales
FROM Top3 AS t INNER JOIN Quarter_total_sales AS q ON t.Quarter_ = q.Quarter_ 
WHERE t.product_rank <= 3 GROUP BY t.Quarter_

Quarter_,Top_3_products,Total_sales_of_top3,Percentage_of_total_sales
1,"Barista Espresso, Brewed Chai tea, Hot chocolate",79562.3,35.59
3,"Barista Espresso, Brewed Chai tea, Gourmet brewed coffee",23084.55,32.97
4,"Barista Espresso, Brewed Chai tea, Hot chocolate",21755.75,31.57
2,"Barista Espresso, Brewed Chai tea, Hot chocolate",116512.15,34.65

## Task 9 - Find product types which registered growth in sales every month without any decline compared to the sales of previous month.

In [0]:
%sql
WITH CTE_monthly_sales AS (
     SELECT MONTH(transaction_date) AS month_number, product_type, SUM(Total_sale) AS Total_sales
     FROM Coffee_sales_table GROUP BY MONTH(transaction_date), product_type
    ),
CTE_Rank_difference AS (
     SELECT *,
     DENSE_RANK() OVER (PARTITION BY product_type ORDER BY month_number) - DENSE_RANK() OVER (PARTITION BY product_type ORDER BY Total_sales DESC) AS difference FROM CTE_monthly_sales
    ),
CTE_Filter_Rank  AS (
    SELECT difference FROM CTE_Rank_difference where difference = 0 GROUP BY difference HAVING COUNT(DISTINCT 1) = 1
    )
SELECT DISTINCT product_type FROM CTE_Rank_difference WHERE difference IN (SELECT difference FROM CTE_Filter_Rank)

product_type
Barista Espresso
Black tea
Brewed Chai tea
Brewed Green tea
Brewed herbal tea
Chai tea
Clothing
Espresso Beans
Gourmet Beans
Gourmet brewed coffee
Green beans
Green tea
Herbal tea
Hot chocolate
Housewares
Organic Beans
Pastry
Premium Beans
Premium brewed coffee
Scone

## Task 10 - Calculate quarter-on-quarter growth in sales for each store location

In [0]:
%sql
WITH Quarterly_Sales AS (
     SELECT QUARTER(transaction_date) AS Quarter_, store_location, ROUND(SUM(Total_Sale),2) AS Total_Sales
     FROM Coffee_sales_table GROUP BY QUARTER(transaction_date), store_location
),
Previous_quarter_CTE AS (
  SELECT *, LAG(Total_Sales) OVER (PARTITION BY store_location ORDER BY Quarter_) AS Previous_quarter_sales FROM Quarterly_Sales
)
SELECT store_location, Quarter_,
Total_Sales AS Current_quarter_sales, Previous_quarter_sales, 
ROUND(((Total_Sales - Previous_quarter_sales)*100.0) / Previous_quarter_sales,2) AS Quarterly_sales_growth
FROM Previous_quarter_CTE

store_location,Quarter_,Current_quarter_sales,Previous_quarter_sales,Quarterly_sales_growth
Astoria,1,77156.83,null,null
Astoria,2,113220.86,77156.83,46.74
Astoria,3,21965.38,113220.86,-80.6
Astoria,4,19900.84,21965.38,-9.4
Hell's Kitchen,1,74278.99,null,null
Hell's Kitchen,2,111235.48,74278.99,49.75
Hell's Kitchen,3,25375.56,111235.48,-77.19
Hell's Kitchen,4,25621.14,25375.56,0.97
Lower Manhattan,1,72144.21,null,null
Lower Manhattan,2,111844.44,72144.21,55.03
Lower Manhattan,3,22682.66,111844.44,-79.72
Lower Manhattan,4,23385.94,22682.66,3.1

## Task 11 - Compare Weekend sales with Weekday sales

In [0]:
%sql
  SELECT CASE WHEN DAYOFWEEK(transaction_date) IN (1,7) THEN 'Weekend' ELSE 'Weekday' END AS Day_status,
  ROUND(SUM(Total_sale),2) AS Total_sales,
  ROUND((SUM(Total_sale)*100.0) / (SELECT SUM(Total_sale) AS Total_sales FROM Coffee_sales_table),2) AS percentage_of_total_sales 
  FROM Coffee_sales_table GROUP BY
  CASE WHEN dayofweek(transaction_date) IN (1,7) THEN 'Weekend' ELSE 'Weekday' END

Day_status,Total_sales,percentage_of_total_sales
Weekday,504709.14,72.22
Weekend,194103.19,27.78

## Task 12 - Calculate total sales based on each hour of the day to identify the hours registering the highest sales.

In [0]:
%sql
SELECT HOUR(transaction_time) AS Hour_of_day, ROUND(SUM(Total_sale),2) AS Total_hourly_sales 
FROM Coffee_sales_table GROUP BY HOUR(transaction_time) ORDER BY SUM(Total_sale) DESC

Hour_of_day,Total_hourly_sales
10,88673.39
9,85169.53
8,82699.87
7,63526.47
11,46319.14
15,41733.1
14,41304.74
16,41122.75
13,40367.45
12,40192.79
17,40134.31
18,34286.2
19,28446.68
6,21900.27
20,2935.64